# <span style='color:#FE774C'>World Register of Marine Species</span> Example Notebook

In [1]:
import odp.geospatial as odp

import warnings
warnings.filterwarnings("ignore")

In [2]:
db=odp.Database()
db_plt= odp.PlotTools()

In [3]:
db.datasets

,schema,table,labels
name,,,
OBIS Biodiversity,raw_obis,occurrences,"[biology, ecosystem, occurrence, organisms]"
World Registry of Marine Species,raw_worms,taxa,"[biology, organisms, ecosystem]"
InterRidge hydrothermal vents,raw_interridge,vents,"[geology, vents]"
OceanLab,raw_oceanlabs,trondheim_buoy,"[physics, wind, atmosphere, pressure, temperat..."
vessel_emissions_2020_h3,vessel_emissions_map,emissions_map_2020_h3_month_class,"[human dimensions, estimated, emissions, human..."
vessel_emissions_2020_h4,vessel_emissions_map,emissions_map_2020_h4_month_class,"[human dimensions, estimated, emissions, human..."
vessel_emissions_2020_h5,vessel_emissions_map,emissions_map_2020_h5_month_class,"[human dimensions, estimated, emissions, human..."
lusedata,raw_ops_seafood,joined_salmon_lice_data,"[aquaculture, fish farms]"
World Seas IHO,raw_marineregions,world_seas_iho_v3,[marine boundaries]
Intersect EEZ IHO,raw_marineregions,intersect_eez_iho_v4_2020,[marine boundaries]
World EEZ,raw_marineregions,world_eez_v11_20191118,[marine boundaries]
World Marine Heritage Sites,raw_marineregions,worldmarineheritagesites,[marine boundaries]
EEZ Land Union,raw_marineregions,eez_land_union_v3_202003,[marine boundaries]
World Ocean Database Measurements,raw_wod,observations,"[physics, phosphate, silicate, temperature, pr..."
World Ocean Database Casts,raw_wod,casts,"[physics, ocean]"

## Pulling data - <span style='color:#FE774C'> **WoRMS** </span>

#### Insert the name of the table you are interested in into the query function, and let's limit to 10 just to see what it looks like

In [4]:
cols_of_interest = ['aphia_id', 'scientific_name', 'rank', 'kingdom', 'phylum', 'class', 'order', 'genus', 'is_extinct']

df=db.query('World Registry of Marine Species', data_columns=cols_of_interest,
            limit=100)
df.head(3)

,aphia_id,scientific_name,rank,kingdom,phylum,class,order,genus,is_extinct
0,59,Leptochitonidae,Family,Animalia,Mollusca,Polyplacophora,Lepidopleurida,,False
1,63,Ischnochitonina,Suborder,Animalia,Mollusca,Polyplacophora,Chitonida,,False
2,64,Chitonidae,Family,Animalia,Mollusca,Polyplacophora,Chitonida,,False

### Add <span style='color:#9D59F4'> **filters** </span> to the data pull

#### In this case we are intersted in the WoRMS data with the phylum name 'Mollusca'
#### Using the filter function, you can create filters for whichever column of the dataset you are interested in.

Let's define the filters:
We want Molluscs that are extinct

In [5]:
filter1 = db.filter_data('phylum', '=', 'Mollusca')
filter2 = db.filter_data("is_extinct", "=", "False")

And now let's pass into our query function

In [6]:
df=db.query('World Registry of Marine Species',
            filters=[filter1, filter2], limit=10, data_columns=cols_of_interest)

In [7]:
df.head(3)

,aphia_id,scientific_name,rank,kingdom,phylum,class,order,genus,is_extinct
0,59,Leptochitonidae,Family,Animalia,Mollusca,Polyplacophora,Lepidopleurida,,False
1,63,Ischnochitonina,Suborder,Animalia,Mollusca,Polyplacophora,Chitonida,,False
2,64,Chitonidae,Family,Animalia,Mollusca,Polyplacophora,Chitonida,,False

### Use <span style='color:#FE774C'> **WoRMS** </span> output to query <span style='color:#FE774C'> **OBIS** </span>

Let's pick which columns we are interested in for OBIS (see OBIS Notebook)

In [8]:
cols_of_interest = ['id', 'aphiaID','geometry','timestamp', 'depth','date_year','month', 'kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'species', 'scientificName']

In [9]:
filter1 = db.filter_data('aphiaID', '=', 59)

In [10]:
df_aphia=db.query('OBIS Biodiversity', filters=[filter1], limit=10, data_columns=cols_of_interest)

In [11]:
df_aphia.head()

,id,aphiaID,geometry,timestamp,depth,date_year,month,kingdom,phylum,class,order,family,genus,species,scientificName
0,0736505d-35d4-4734-bb69-5de72d2f8b35,59,POINT (121.96930 -34.03828),2002-11-13,26.0,2002,None,Animalia,Mollusca,Polyplacophora,Lepidopleurida,Leptochitonidae,None,None,Leptochitonidae
1,07d4d05d-a5a8-419c-b95a-e326bae973ed,59,POINT (121.94624 -33.89257),2002-11-05,38.0,2002,None,Animalia,Mollusca,Polyplacophora,Lepidopleurida,Leptochitonidae,None,None,Leptochitonidae
2,2792705f-0d46-4985-ae5c-b71c7f88788f,59,POINT (121.99700 -33.97755),2002-06-12,29.0,2002,None,Animalia,Mollusca,Polyplacophora,Lepidopleurida,Leptochitonidae,None,None,Leptochitonidae
3,b8ac059e-5e88-4123-910c-3964cb0266bf,59,POINT (122.00010 -33.97173),2002-06-12,30.0,2002,None,Animalia,Mollusca,Polyplacophora,Lepidopleurida,Leptochitonidae,None,None,Leptochitonidae
4,5e6b9ef0-d844-45ed-9e6b-f4448f347dba,59,POINT (146.20472 -44.19383),2007-04-06,1140.0,2007,None,Animalia,Mollusca,Polyplacophora,Lepidopleurida,Leptochitonidae,None,None,Leptochitonidae